@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif , Arial;
}


a {
    text-decoration: none;
    color: #fff;
}

i {
    color: #fff;
    cursor: pointer;
}

html,
body {
    background: linear-gradient(#050505, #18181d);
    /* height: 20px; */
    margin: 0;
    width: 100%;
    /* margin-left: -10px;; */

}

.container2 {
    width: 70%;
    height: 110vh;
    /* height: 20%; */
    display: flex;
    /* flex:50%; */
    grid-template-columns: 1fr 4fr 2fr;
    background: linear-gradient(#050505eb, #18181d);
}

.sidebar2 {
    width:100%;
    height: 110vh;
    background-color: #18181d;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10000;
    transition: all 0.6s ease;
    padding:60px;


}

.container2 .sidebar2 .title2 h1 {
    color: #ff0066;
    margin-top: -55px;
    font-size: 28px;
    margin-left: -8px;
}

.container2 .sidebar2 .menu2 h5 {
    color:#ffffff;
    margin-bottom: 20px;
    /* text-transform: uppercase; */
    font-size:20px;
    font:bold;
    padding-top: 10px;
  
}

.menu2 {
   
    margin-top: -100px;
    background-color:linear-gradient(#050505, #18181d);
    margin-bottom: 20px;
}

.menu2 ul {
    list-style: none;
    padding: 0;
  
}

.menu2 ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 20px;
   
}

.menu2 ul li a {
    font-size: 15px;
    transition: all 0.3s ease;
    text-decoration: none;
  
  
}

.menu2 ul li:hover i,
.menu2 ul li:hover a {
    color: #ff0066;
}

.container2 .main2 {
    padding: 20px;

}

.container2 .main2 header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.header-right-2 {
    display: flex;
    width: 110px;
    /* height: 100%; */
    margin-left: 650px;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}

.search2 {
    display: flex;
    align-items: center;
    background-color:linear-gradient(#050505, #18181d);
    border: 1px solid #fff;
    border-radius: 2px;
    margin-right:5px;
    height: 29px;
    padding: 5px;
    /* width:50px; */
}

.search2:hover {
    border-color: #ff0066;
 
}

.search2 input {
    padding: 4px;
    border: none;
    outline: none;
    background-color: #000;
    border-radius: 2px 0 0 2px;
    color: #fff;
    justify-content: space-between;
    /* margin-right: 20px; */
    width: 500px;

}

.search2 i {
    background-color: #000;
    border: none;
    color: #fff;
    padding: 5px;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    margin-left: 90px;
    align-items: center;
    align-content: center;
}

.login-btn {
    background-color: #fff;
    border: 1px solid #fff;
    color: #1d1d1d;
    padding: 5px 20px 10px;
    border-radius: 2px;
    cursor: pointer;
    align-content: center;
    margin-left: 10px;
    width: 300px;
    height: 30px;

}

.login2-btn:hover {
    background-color: #ff0066;
}

.settings-icon {
    font-size: 20px;
    size: 15px;
    height: 25px;
}

/* Adjustments for positioning */
.container2 .main2 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header-right-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.trending2 .left h2 {
    color: white;
    /* margin-bottom: 20px; */
}

/* .trendng .left{
    display:flex;
   
    align-items: center;
        gap: 10px;
}  */
.trending2 .left {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
}

/* .menu{
    margin-top:-100px;
    padding-top: -20px;

} */
.playlists-2 {
    padding:10px;
    size: 20px;
    height: 100vh;
    /* width:100%; */

}

.playlists-2 h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.playlists-2 .list2 {
    background: linear-gradient(#050505, #18181d);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 80vh;
}

.playlists-2 .list2 .item2 {
    min-width: 140px;
    width: 140px;
    padding: 3px;
    height:24vh;
    background-color: linear-gradient(#050505, #18181d);
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.4s;
    margin-left:10px;
    margin-right: -15px;
    text-align: center;
}

.playlists-2 .list2 .item2:hover {
    background-color: #252525;
}
.playlists-2 .list2 .item2 img {
    width: 130px;
    height: 105px;
    border-radius:100%;
    margin-bottom: 10px;
    justify-items: center;
    padding-top: 5px;
}





.playlists-2 .list2 .item2 .play2 {
    position: relative;
}

.playlists-2 .list2 .item2 .play2 i {
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    transition: all ease 0.4s;
}

.playlists-2 .list2 .item2 .play2 i {
    color: #ffffff;
    /* Ensure the play icon is visible */
    font-size: 24px;
}


.playlists-2 .list2 .item2:hover .play2 i {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-20px);
    display: block;
    /* transform: translate(-50% ,-50%); */
background-color: #1db951;
opacity: 1;
        /* Allow interaction when visible */
}


.playlists-2 .list2 .item2 h4 {
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 3px;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 8px;
}

.playlists-2 .list2 .item2 p {
    color: #989898;
    font-size: 12px;
    line-height: 10px;
    font-weight: 600;
    padding-left: 8px;
   /* margin-bottom: -15px; */
}

 .user2 {
     display: flex;
     align-items: center;
     margin-top: auto;
     cursor: pointer;
     margin-top: -10px;

 }

.user2 img {
     width: 40px;
     height: 40px;
     border-radius: 5px;
     margin-right: 10px;
    margin-top: -50px;
     border:1px solid #fff;
     padding:0px;
 }

 .user2 h5 {
    padding:5px;
     margin-top: -30px;
     color: #fff;
     font-size: 10px;
     /* padding-left:-20px; */
    
 }
@media only screen and (max-width:768px){
  /* width: 100%; */

}