
.logall {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../assets/img/img_1.jpg') no-repeat center center/cover;
}

.login-7 {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-7 h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

.input1-7 {
    margin-bottom: 15px;
    text-align: left;
}

.input1-7 label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #fff;
}

.input1-7 input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #222;
    color: #fff;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff0066;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #e6005c;
}
